                        <!-- deleteModal -->
                        <div id="deleteModal<%=circle.id%>" class="modal">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                          <header class="modal-card-head">
                            <p class="modal-card-title"><span class="icon"><i class="fa fa-trash-o"></i></span> Delete <strong><%=circle.title%></strong>?</p>
                            <button class="delete closeModal" aria-label="close"></button>
                          </header>
                          <section class="modal-card-body">
                            <!-- Content ... -->
                            <p>Are you sure you want to completely delete your circle? <br>
                            <span class="icon"><i class="fa fa-exclamation-circle" style="color: red;"></i></span>
                            Warning: this cannot be undone!</p>
                          </section>
                          <footer class="modal-card-foot">
                              <form id="deleteform" action="/circles/<%=circle._id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <button type="submit" class="button is-danger is-medium is-outlined"><span class="icon"><i class="fa fa-trash-o"></i></span> <span> delete <%=circle.title%></span></button>
                                    </div>
                            </form>
                          </footer>
                        </div>
                      </div>
                        
                      
                        
                        
                      
                        
                        
      