                        <!-- deleteModal -->
                        <div id="deleteModal<%=circle.id%>" class="modal" role="dialog">
                          <div class="modal-dialog">
                        
                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Delete Circle</h4>
                              </div>
                              <div class="modal-body text-right">
                                  <h3>Delete <strong><%=circle.title%></strong>?</h3>
                                <p>Are you sure you want to completely delete your circle? <br><span class="fa fa-exclamation-circle" style="color: red;"></span>Warning: this cannot be undone!</p>
                              <form id="deleteform" action="/circles/<%=circle._id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                  <div class="form-group">
                                    <button class="btn btn-danger "><span class="fa fa-trash-o"></span> Delete <strong><%=circle.title%></strong></button>
                                  </div>
                              </form>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>                        
                        
                        
                      
                        
                        
      