  <!-- Footer -->
    <footer class="page-footer">
      <div class="container">
        <div class="content has-text-centered">

                <!--<a href="#">-->
                <!--  <i class="fa fa-twitter"></i>-->
                <!--</a>-->

                <!--<a href="/">-->
                <!--  <i class="fa fa-facebook"></i>-->
                <!--</a>-->

                <!--<a href="/">-->
                <!--  <i class="fa fa-envelope-o"></i>-->
                <!--</a>-->
                
                <a href="/" class="navbar-item">
                  <img class="logo" src="../../stylesheets/img/logos/radiusfill.svg" />
                </a>

                
 
        </div>
        
        
      </div>
    </footer>
    <!-- Feather Script -->
    <!--<script>     feather.replace()   </script>-->
    <!-- Bootstrap core JavaScript -->
    <script src="/stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="/stylesheets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/stylesheets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script type="text/javascript">
      // (function() {
      //   var burger = document.querySelector('.burger');
      //   var nav = document.querySelector('#'+burger.dataset.target);
      //   burger.addEventListener('click', function(){
      //     burger.classList.toggle('is-active');
      //     nav.classList.toggle('is-active');
      //   });
      // })();
    </script>

    <!-- Custom scripts for this template -->
    <script src="/stylesheets/js/agency.js"></script>

  
<!--This was already there in the old version: -->
  
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>